body {
  margin: 0;
  padding: 0;
  font-family: brandon-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/bg.jpg);
  background-size: 25%;                      /* <------ */
  background-repeat: repeat;
  background-position: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app{
  margin-left:20px;
  margin-top:30px;
  border: solid 1px #ccc;
  width: 375px;
  height: 812px;
  border-radius: 20px;
  background-color:#fff;
  float:left;
  position:relative;
}

.profileLog {
  display:none;
}

.profileLog-active {
  border: solid 1px #ccc;
  margin-top:40px;
  margin-left:30px;
  width:300px;
  padding-left:20px;
  background-color: rgba(0, 0, 0, 0.6);
  color:#fff;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  float:left;
}

.profileTitle {
  margin-top:30px;
  text-transform: uppercase;
  font-size: 10px;
}

.profileList strong {
  color:rgb(141, 200, 145);
}

.profileList {
  font-size:10px;
  margin-bottom:40px;
}

.profileList li{
  margin-bottom:5px;
}

.profileLog-active .pre{
  outline: 1px solid #ccc;
  padding: 5px; margin:
  5px;
}

.lessonTitle{
  margin-top:15px;
  margin-bottom:5px;
  margin-left:25px;
  text-transform: uppercase;
  font-size:10px;
  font-weight: bold;
}

.contentBlockTitle {
  font-size:12px;
  margin-bottom:30px;
  margin-left:25px;
}

.contentBlockText {
  height:450px;
  margin-bottom:30px;
  margin-left:25px;
  margin-right:25px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.contentBlockText p {
  font-size:50px;
  font-weight:500;
  line-height: 1.15em;
  text-align: left;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}

.contentImage {
  background-color: black;
  width: 375px;
  height:500px;
  margin-left: -25px;
  margin-top: -30px;
}

.contentBlockSubtitles {
  padding:20px;
  margin-bottom:20px;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 500;
  font-size:20px;
  color:#333;
}

.subtitlesText {
  line-height:25px;
}

.contentBottomBlock{
  width:100%;
  position: absolute;
  bottom: 0;
  margin-bottom:20px;
  height: 200px;
}

.contentBlockButtons {
  text-align: center;
  float:left;
  width:100%;
  height: 100px;
}

.contentBlockPermButtons {
  text-align: center;
  float:left;
  width:100%;
  height: 100px;
  position:absolute;
  bottom:-40px;
}

.permButton {
  text-align:center;
  padding:15px;
  border-radius: 30px;
  float:left;
  font-size:15px;
  font-family: brandon-grotesque,sans-serif;
  font-weight:bold;
  background-color:#DD0385;
  color:#fff;
  border:2px solid #fff;
}

.choiceButton {
  text-align:center;
  padding:15px;
  border-radius: 30px;
  float:left;
  font-size:15px;
  font-family: brandon-grotesque,sans-serif;
  font-weight:bold;
  background-color:#DD0385;
  color:#fff;
  border:2px solid #fff;
}

.choiceButton:hover {
  border-color: #F93DE7;
  cursor: pointer;
}

.buttonWrapper {
  display: inline-block;
  margin-right:10px;
  margin-bottom:0px;
}

.textInputForm input[type=text] {
  padding:16px;
  font-size:20px;
  color:#DD0385;
  margin-bottom:20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-style: solid;
  border-right-style:none;
  border-width:1px;
  border-color:#ccc;
  font-family: brandon-grotesque,sans-serif;
  font-weight:bold;
}

.textInputForm input[type=text]::placeholder {
  color:#bbb;
}

.textInputForm input[type=submit] {
  -webkit-appearance: button;
  font-size:18px;
  padding:18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color:#fff;
  font-family: brandon-grotesque,sans-serif;
  font-weight:bold;
  background-color: #DD0385;
  border-color: #F93DE7;
}



.textInputForm input[type=submit]:hover{
  opacity:0.8;
  cursor: pointer;
}

.dropdownForm {
  margin:auto;
  width:300px;
}

.dropdownForm input[type=submit] {
  -webkit-appearance: button;
  font-size:18px;
  padding:17.5px;
  width:67px;
  margin-left:-2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color:#fff;
  background-color: #FB8653;
  border-color: rgb(201, 104, 63);
}

.dropdownForm input[type=submit]:hover{
  opacity:0.8;
  cursor: pointer;
}

.head {
  width:60px;
  height:75px;
  background-image:url("./images/faceTest/head.svg");
  background-size: auto;
  background-repeat: no-repeat;
  margin:auto;
  position: absolute;
  top: -570px;
  left: 290px;
}

.lEye {
  width:9px;
  height:5px;
  position:absolute;
  top:40px;
  left:14px;
}

.rEye {
  width:9px;
  height:5px;
  position:absolute;
  top:39px;
  left:36px;
}

#lEyeSmile, #rEyeSmile, #lEyeClosed, #rEyeClosed, #handPointUp, #mouthOpen {
  visibility:hidden;
}

.nose {
  width:5px;
  position:absolute;
  top:43px;
  left:26px;
  opacity:1;
}

.mouth {
  width:18px;
  position:absolute;
  top:50px;
  left:21px;
  opacity:1;
}

.eyebrow {
  width:5px;
  position:absolute;
  top:31px;
  left:41px;
  opacity:1;
}

.hand {
  width:25px;
  position:absolute;
  top:40px;
  left:-28px;
  opacity:0;
}

textarea, select, input, button { outline: none; }